--
-- PostgreSQL database dump
--

\restrict ysZLWsgtGWga6KAcAOZgJs5eoMlPEz00wJjdvutlXrG9hdiBb0f7wrq2I3RnQ4X

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: appointments; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.appointments (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(255) NOT NULL,
    pain_area character varying(255) NOT NULL,
    date date NOT NULL,
    "time" time(0) without time zone NOT NULL,
    message text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.appointments OWNER TO mitul;

--
-- Name: appointments_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.appointments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.appointments_id_seq OWNER TO mitul;

--
-- Name: appointments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.appointments_id_seq OWNED BY public.appointments.id;


--
-- Name: cache; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.cache (
    key character varying(255) NOT NULL,
    value text NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache OWNER TO mitul;

--
-- Name: cache_locks; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.cache_locks (
    key character varying(255) NOT NULL,
    owner character varying(255) NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache_locks OWNER TO mitul;

--
-- Name: contact_messages; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.contact_messages (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(255),
    message text NOT NULL,
    type character varying(255) NOT NULL,
    show_flag boolean DEFAULT false NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT contact_messages_type_check CHECK (((type)::text = ANY ((ARRAY['question'::character varying, 'feedback'::character varying])::text[])))
);


ALTER TABLE public.contact_messages OWNER TO mitul;

--
-- Name: contact_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.contact_messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contact_messages_id_seq OWNER TO mitul;

--
-- Name: contact_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.contact_messages_id_seq OWNED BY public.contact_messages.id;


--
-- Name: email_campaigns; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.email_campaigns (
    id bigint NOT NULL,
    subject character varying(255) NOT NULL,
    message text NOT NULL,
    sent_by bigint NOT NULL,
    sent_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.email_campaigns OWNER TO mitul;

--
-- Name: email_campaigns_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.email_campaigns_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.email_campaigns_id_seq OWNER TO mitul;

--
-- Name: email_campaigns_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.email_campaigns_id_seq OWNED BY public.email_campaigns.id;


--
-- Name: failed_jobs; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.failed_jobs (
    id bigint NOT NULL,
    uuid character varying(255) NOT NULL,
    connection text NOT NULL,
    queue text NOT NULL,
    payload text NOT NULL,
    exception text NOT NULL,
    failed_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.failed_jobs OWNER TO mitul;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.failed_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.failed_jobs_id_seq OWNER TO mitul;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.failed_jobs_id_seq OWNED BY public.failed_jobs.id;


--
-- Name: faqs; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.faqs (
    id bigint NOT NULL,
    question character varying(255) NOT NULL,
    answer text NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.faqs OWNER TO mitul;

--
-- Name: faqs_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.faqs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.faqs_id_seq OWNER TO mitul;

--
-- Name: faqs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.faqs_id_seq OWNED BY public.faqs.id;


--
-- Name: gallery; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.gallery (
    id bigint NOT NULL,
    image_path character varying(255) NOT NULL,
    type character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.gallery OWNER TO mitul;

--
-- Name: gallery_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.gallery_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gallery_id_seq OWNER TO mitul;

--
-- Name: gallery_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.gallery_id_seq OWNED BY public.gallery.id;


--
-- Name: job_batches; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.job_batches (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    total_jobs integer NOT NULL,
    pending_jobs integer NOT NULL,
    failed_jobs integer NOT NULL,
    failed_job_ids text NOT NULL,
    options text,
    cancelled_at integer,
    created_at integer NOT NULL,
    finished_at integer
);


ALTER TABLE public.job_batches OWNER TO mitul;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.jobs (
    id bigint NOT NULL,
    queue character varying(255) NOT NULL,
    payload text NOT NULL,
    attempts smallint NOT NULL,
    reserved_at integer,
    available_at integer NOT NULL,
    created_at integer NOT NULL
);


ALTER TABLE public.jobs OWNER TO mitul;

--
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jobs_id_seq OWNER TO mitul;

--
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO mitul;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO mitul;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: pain_images; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.pain_images (
    id bigint NOT NULL,
    pain_id bigint NOT NULL,
    image_path character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.pain_images OWNER TO mitul;

--
-- Name: pain_images_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.pain_images_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pain_images_id_seq OWNER TO mitul;

--
-- Name: pain_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.pain_images_id_seq OWNED BY public.pain_images.id;


--
-- Name: pain_service; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.pain_service (
    id bigint NOT NULL,
    pain_id bigint NOT NULL,
    service_id bigint NOT NULL
);


ALTER TABLE public.pain_service OWNER TO mitul;

--
-- Name: pain_service_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.pain_service_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pain_service_id_seq OWNER TO mitul;

--
-- Name: pain_service_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.pain_service_id_seq OWNED BY public.pain_service.id;


--
-- Name: pains; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.pains (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    short_description text NOT NULL,
    full_description text NOT NULL,
    main_image character varying(255),
    slug character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.pains OWNER TO mitul;

--
-- Name: pains_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.pains_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pains_id_seq OWNER TO mitul;

--
-- Name: pains_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.pains_id_seq OWNED BY public.pains.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.password_reset_tokens (
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp(0) without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO mitul;

--
-- Name: pending_registrations; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.pending_registrations (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    otp_hash character varying(255) NOT NULL,
    otp_expires_at timestamp(0) without time zone NOT NULL,
    attempts_count smallint DEFAULT '0'::smallint NOT NULL,
    last_sent_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    type character varying(255)
);


ALTER TABLE public.pending_registrations OWNER TO mitul;

--
-- Name: pending_registrations_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.pending_registrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pending_registrations_id_seq OWNER TO mitul;

--
-- Name: pending_registrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.pending_registrations_id_seq OWNED BY public.pending_registrations.id;


--
-- Name: personal_access_tokens; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.personal_access_tokens (
    id bigint NOT NULL,
    tokenable_type character varying(255) NOT NULL,
    tokenable_id bigint NOT NULL,
    name text NOT NULL,
    token character varying(64) NOT NULL,
    abilities text,
    last_used_at timestamp(0) without time zone,
    expires_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.personal_access_tokens OWNER TO mitul;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.personal_access_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.personal_access_tokens_id_seq OWNER TO mitul;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.personal_access_tokens_id_seq OWNED BY public.personal_access_tokens.id;


--
-- Name: service_images; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.service_images (
    id bigint NOT NULL,
    service_id bigint NOT NULL,
    image_path character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.service_images OWNER TO mitul;

--
-- Name: service_images_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.service_images_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.service_images_id_seq OWNER TO mitul;

--
-- Name: service_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.service_images_id_seq OWNED BY public.service_images.id;


--
-- Name: services; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.services (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    short_description character varying(255) NOT NULL,
    full_description text NOT NULL,
    main_image character varying(255),
    category character varying(255) NOT NULL,
    is_featured boolean DEFAULT false NOT NULL,
    slug character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.services OWNER TO mitul;

--
-- Name: services_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.services_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.services_id_seq OWNER TO mitul;

--
-- Name: services_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.services_id_seq OWNED BY public.services.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.sessions (
    id character varying(255) NOT NULL,
    user_id bigint,
    ip_address character varying(45),
    user_agent text,
    payload text NOT NULL,
    last_activity integer NOT NULL
);


ALTER TABLE public.sessions OWNER TO mitul;

--
-- Name: settings; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.settings (
    id bigint NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(255) NOT NULL,
    phone2 character varying(255) NOT NULL,
    location character varying(255) NOT NULL,
    map_url text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.settings OWNER TO mitul;

--
-- Name: settings_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.settings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.settings_id_seq OWNER TO mitul;

--
-- Name: settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.settings_id_seq OWNED BY public.settings.id;


--
-- Name: telescope_entries; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.telescope_entries (
    sequence bigint NOT NULL,
    uuid uuid NOT NULL,
    batch_id uuid NOT NULL,
    family_hash character varying(255),
    should_display_on_index boolean DEFAULT true NOT NULL,
    type character varying(20) NOT NULL,
    content text NOT NULL,
    created_at timestamp(0) without time zone
);


ALTER TABLE public.telescope_entries OWNER TO mitul;

--
-- Name: telescope_entries_sequence_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.telescope_entries_sequence_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telescope_entries_sequence_seq OWNER TO mitul;

--
-- Name: telescope_entries_sequence_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.telescope_entries_sequence_seq OWNED BY public.telescope_entries.sequence;


--
-- Name: telescope_entries_tags; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.telescope_entries_tags (
    entry_uuid uuid NOT NULL,
    tag character varying(255) NOT NULL
);


ALTER TABLE public.telescope_entries_tags OWNER TO mitul;

--
-- Name: telescope_monitoring; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.telescope_monitoring (
    tag character varying(255) NOT NULL
);


ALTER TABLE public.telescope_monitoring OWNER TO mitul;

--
-- Name: therapists; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.therapists (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    photo character varying(255),
    "position" character varying(255),
    description text,
    experience character varying(255),
    qualification character varying(255),
    is_featured boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.therapists OWNER TO mitul;

--
-- Name: therapists_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.therapists_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.therapists_id_seq OWNER TO mitul;

--
-- Name: therapists_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.therapists_id_seq OWNED BY public.therapists.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: mitul
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    email_verified_at timestamp(0) without time zone,
    password character varying(255),
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    provider character varying(255),
    provider_id character varying(255),
    role character varying(255) DEFAULT 'user'::character varying NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'user'::character varying, 'therapist'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO mitul;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: mitul
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO mitul;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mitul
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: appointments id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.appointments ALTER COLUMN id SET DEFAULT nextval('public.appointments_id_seq'::regclass);


--
-- Name: contact_messages id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.contact_messages ALTER COLUMN id SET DEFAULT nextval('public.contact_messages_id_seq'::regclass);


--
-- Name: email_campaigns id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.email_campaigns ALTER COLUMN id SET DEFAULT nextval('public.email_campaigns_id_seq'::regclass);


--
-- Name: failed_jobs id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.failed_jobs ALTER COLUMN id SET DEFAULT nextval('public.failed_jobs_id_seq'::regclass);


--
-- Name: faqs id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.faqs ALTER COLUMN id SET DEFAULT nextval('public.faqs_id_seq'::regclass);


--
-- Name: gallery id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.gallery ALTER COLUMN id SET DEFAULT nextval('public.gallery_id_seq'::regclass);


--
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: pain_images id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.pain_images ALTER COLUMN id SET DEFAULT nextval('public.pain_images_id_seq'::regclass);


--
-- Name: pain_service id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.pain_service ALTER COLUMN id SET DEFAULT nextval('public.pain_service_id_seq'::regclass);


--
-- Name: pains id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.pains ALTER COLUMN id SET DEFAULT nextval('public.pains_id_seq'::regclass);


--
-- Name: pending_registrations id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.pending_registrations ALTER COLUMN id SET DEFAULT nextval('public.pending_registrations_id_seq'::regclass);


--
-- Name: personal_access_tokens id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.personal_access_tokens ALTER COLUMN id SET DEFAULT nextval('public.personal_access_tokens_id_seq'::regclass);


--
-- Name: service_images id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.service_images ALTER COLUMN id SET DEFAULT nextval('public.service_images_id_seq'::regclass);


--
-- Name: services id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.services ALTER COLUMN id SET DEFAULT nextval('public.services_id_seq'::regclass);


--
-- Name: settings id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.settings ALTER COLUMN id SET DEFAULT nextval('public.settings_id_seq'::regclass);


--
-- Name: telescope_entries sequence; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.telescope_entries ALTER COLUMN sequence SET DEFAULT nextval('public.telescope_entries_sequence_seq'::regclass);


--
-- Name: therapists id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.therapists ALTER COLUMN id SET DEFAULT nextval('public.therapists_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: appointments; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.appointments (id, name, email, phone, pain_area, date, "time", message, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: cache; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.cache (key, value, expiration) FROM stdin;
\.


--
-- Data for Name: cache_locks; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.cache_locks (key, owner, expiration) FROM stdin;
\.


--
-- Data for Name: contact_messages; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.contact_messages (id, name, email, phone, message, type, show_flag, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: email_campaigns; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.email_campaigns (id, subject, message, sent_by, sent_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: failed_jobs; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.failed_jobs (id, uuid, connection, queue, payload, exception, failed_at) FROM stdin;
\.


--
-- Data for Name: faqs; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.faqs (id, question, answer, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: gallery; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.gallery (id, image_path, type, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: job_batches; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.job_batches (id, name, total_jobs, pending_jobs, failed_jobs, failed_job_ids, options, cancelled_at, created_at, finished_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.jobs (id, queue, payload, attempts, reserved_at, available_at, created_at) FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: mitul
--



--
-- Data for Name: pain_images; Type: TABLE DATA; Schema: public; Owner: mitul
--



--
-- Data for Name: pain_service; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.pain_service (id, pain_id, service_id) FROM stdin;
\.


--
-- Data for Name: pains; Type: TABLE DATA; Schema: public; Owner: mitul
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.password_reset_tokens (email, token, created_at) FROM stdin;
\.


--
-- Data for Name: pending_registrations; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.pending_registrations (id, name, email, password, otp_hash, otp_expires_at, attempts_count, last_sent_at, created_at, updated_at, type) FROM stdin;
\.


--
-- Data for Name: personal_access_tokens; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.personal_access_tokens (id, tokenable_type, tokenable_id, name, token, abilities, last_used_at, expires_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: service_images; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.service_images (id, service_id, image_path, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.services (id, title, short_description, full_description, main_image, category, is_featured, slug, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.sessions (id, user_id, ip_address, user_agent, payload, last_activity) FROM stdin;
\.


--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.settings (id, email, phone, phone2, location, map_url, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: telescope_entries; Type: TABLE DATA; Schema: public; Owner: mitul
--



--
-- Data for Name: telescope_entries_tags; Type: TABLE DATA; Schema: public; Owner: mitul
--



--
-- Data for Name: telescope_monitoring; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.telescope_monitoring (tag) FROM stdin;
\.


--
-- Data for Name: therapists; Type: TABLE DATA; Schema: public; Owner: mitul
--

COPY public.therapists (id, user_id, name, photo, "position", description, experience, qualification, is_featured, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: mitul
--



--
-- Name: appointments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.appointments_id_seq', 1, false);


--
-- Name: contact_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.contact_messages_id_seq', 1, false);


--
-- Name: email_campaigns_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.email_campaigns_id_seq', 1, false);


--
-- Name: failed_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.failed_jobs_id_seq', 1, false);


--
-- Name: faqs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.faqs_id_seq', 1, false);


--
-- Name: gallery_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.gallery_id_seq', 1, false);


--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.jobs_id_seq', 1, false);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.migrations_id_seq', 22, true);


--
-- Name: pain_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.pain_images_id_seq', 16, true);


--
-- Name: pain_service_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.pain_service_id_seq', 1, false);


--
-- Name: pains_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.pains_id_seq', 6, true);


--
-- Name: pending_registrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.pending_registrations_id_seq', 1, false);


--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.personal_access_tokens_id_seq', 1, false);


--
-- Name: service_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.service_images_id_seq', 1, false);


--
-- Name: services_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.services_id_seq', 1, false);


--
-- Name: settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.settings_id_seq', 1, false);


--
-- Name: telescope_entries_sequence_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.telescope_entries_sequence_seq', 684, true);


--
-- Name: therapists_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.therapists_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mitul
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: appointments appointments_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_pkey PRIMARY KEY (id);


--
-- Name: cache_locks cache_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.cache_locks
    ADD CONSTRAINT cache_locks_pkey PRIMARY KEY (key);


--
-- Name: cache cache_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.cache
    ADD CONSTRAINT cache_pkey PRIMARY KEY (key);


--
-- Name: contact_messages contact_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.contact_messages
    ADD CONSTRAINT contact_messages_pkey PRIMARY KEY (id);


--
-- Name: email_campaigns email_campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.email_campaigns
    ADD CONSTRAINT email_campaigns_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_uuid_unique; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_uuid_unique UNIQUE (uuid);


--
-- Name: faqs faqs_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.faqs
    ADD CONSTRAINT faqs_pkey PRIMARY KEY (id);


--
-- Name: gallery gallery_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.gallery
    ADD CONSTRAINT gallery_pkey PRIMARY KEY (id);


--
-- Name: job_batches job_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.job_batches
    ADD CONSTRAINT job_batches_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: pain_images pain_images_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.pain_images
    ADD CONSTRAINT pain_images_pkey PRIMARY KEY (id);


--
-- Name: pain_service pain_service_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.pain_service
    ADD CONSTRAINT pain_service_pkey PRIMARY KEY (id);


--
-- Name: pains pains_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.pains
    ADD CONSTRAINT pains_pkey PRIMARY KEY (id);


--
-- Name: pains pains_slug_unique; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.pains
    ADD CONSTRAINT pains_slug_unique UNIQUE (slug);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (email);


--
-- Name: pending_registrations pending_registrations_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.pending_registrations
    ADD CONSTRAINT pending_registrations_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens personal_access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens personal_access_tokens_token_unique; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_token_unique UNIQUE (token);


--
-- Name: service_images service_images_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.service_images
    ADD CONSTRAINT service_images_pkey PRIMARY KEY (id);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: services services_slug_unique; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_slug_unique UNIQUE (slug);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (id);


--
-- Name: telescope_entries telescope_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.telescope_entries
    ADD CONSTRAINT telescope_entries_pkey PRIMARY KEY (sequence);


--
-- Name: telescope_entries_tags telescope_entries_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.telescope_entries_tags
    ADD CONSTRAINT telescope_entries_tags_pkey PRIMARY KEY (entry_uuid, tag);


--
-- Name: telescope_entries telescope_entries_uuid_unique; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.telescope_entries
    ADD CONSTRAINT telescope_entries_uuid_unique UNIQUE (uuid);


--
-- Name: telescope_monitoring telescope_monitoring_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.telescope_monitoring
    ADD CONSTRAINT telescope_monitoring_pkey PRIMARY KEY (tag);


--
-- Name: therapists therapists_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.therapists
    ADD CONSTRAINT therapists_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: cache_expiration_index; Type: INDEX; Schema: public; Owner: mitul
--

CREATE INDEX cache_expiration_index ON public.cache USING btree (expiration);


--
-- Name: cache_locks_expiration_index; Type: INDEX; Schema: public; Owner: mitul
--

CREATE INDEX cache_locks_expiration_index ON public.cache_locks USING btree (expiration);


--
-- Name: jobs_queue_index; Type: INDEX; Schema: public; Owner: mitul
--

CREATE INDEX jobs_queue_index ON public.jobs USING btree (queue);


--
-- Name: pending_registrations_email_index; Type: INDEX; Schema: public; Owner: mitul
--

CREATE INDEX pending_registrations_email_index ON public.pending_registrations USING btree (email);


--
-- Name: personal_access_tokens_expires_at_index; Type: INDEX; Schema: public; Owner: mitul
--

CREATE INDEX personal_access_tokens_expires_at_index ON public.personal_access_tokens USING btree (expires_at);


--
-- Name: personal_access_tokens_tokenable_type_tokenable_id_index; Type: INDEX; Schema: public; Owner: mitul
--

CREATE INDEX personal_access_tokens_tokenable_type_tokenable_id_index ON public.personal_access_tokens USING btree (tokenable_type, tokenable_id);


--
-- Name: sessions_last_activity_index; Type: INDEX; Schema: public; Owner: mitul
--

CREATE INDEX sessions_last_activity_index ON public.sessions USING btree (last_activity);


--
-- Name: sessions_user_id_index; Type: INDEX; Schema: public; Owner: mitul
--

CREATE INDEX sessions_user_id_index ON public.sessions USING btree (user_id);


--
-- Name: telescope_entries_batch_id_index; Type: INDEX; Schema: public; Owner: mitul
--

CREATE INDEX telescope_entries_batch_id_index ON public.telescope_entries USING btree (batch_id);


--
-- Name: telescope_entries_created_at_index; Type: INDEX; Schema: public; Owner: mitul
--

CREATE INDEX telescope_entries_created_at_index ON public.telescope_entries USING btree (created_at);


--
-- Name: telescope_entries_family_hash_index; Type: INDEX; Schema: public; Owner: mitul
--

CREATE INDEX telescope_entries_family_hash_index ON public.telescope_entries USING btree (family_hash);


--
-- Name: telescope_entries_tags_tag_index; Type: INDEX; Schema: public; Owner: mitul
--

CREATE INDEX telescope_entries_tags_tag_index ON public.telescope_entries_tags USING btree (tag);


--
-- Name: telescope_entries_type_should_display_on_index_index; Type: INDEX; Schema: public; Owner: mitul
--

CREATE INDEX telescope_entries_type_should_display_on_index_index ON public.telescope_entries USING btree (type, should_display_on_index);


--
-- Name: users_provider_id_index; Type: INDEX; Schema: public; Owner: mitul
--

CREATE INDEX users_provider_id_index ON public.users USING btree (provider_id);


--
-- Name: email_campaigns email_campaigns_sent_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.email_campaigns
    ADD CONSTRAINT email_campaigns_sent_by_foreign FOREIGN KEY (sent_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: pain_images pain_images_pain_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.pain_images
    ADD CONSTRAINT pain_images_pain_id_foreign FOREIGN KEY (pain_id) REFERENCES public.pains(id) ON DELETE CASCADE;


--
-- Name: pain_service pain_service_pain_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.pain_service
    ADD CONSTRAINT pain_service_pain_id_foreign FOREIGN KEY (pain_id) REFERENCES public.pains(id) ON DELETE CASCADE;


--
-- Name: pain_service pain_service_service_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.pain_service
    ADD CONSTRAINT pain_service_service_id_foreign FOREIGN KEY (service_id) REFERENCES public.services(id) ON DELETE CASCADE;


--
-- Name: service_images service_images_service_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.service_images
    ADD CONSTRAINT service_images_service_id_foreign FOREIGN KEY (service_id) REFERENCES public.services(id) ON DELETE CASCADE;


--
-- Name: telescope_entries_tags telescope_entries_tags_entry_uuid_foreign; Type: FK CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.telescope_entries_tags
    ADD CONSTRAINT telescope_entries_tags_entry_uuid_foreign FOREIGN KEY (entry_uuid) REFERENCES public.telescope_entries(uuid) ON DELETE CASCADE;


--
-- Name: therapists therapists_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: mitul
--

ALTER TABLE ONLY public.therapists
    ADD CONSTRAINT therapists_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ysZLWsgtGWga6KAcAOZgJs5eoMlPEz00wJjdvutlXrG9hdiBb0f7wrq2I3RnQ4X

